<!DOCTYPE html>
<html>
<head>
    <title>Trim Sheet Result</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Trim Sheet - Calculated</h2>
    <table border="1">
        <tbody>
            {% for row in data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell if cell is not none else "" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if excel_available %}
    <div class="center-button">
    <a href="{{ url_for('download_excel') }}" class="download-button">⬇ Download Excel Sheet</a>
</div>

    {% endif %}


    <a href="/" class="back-button">← Back to Input</a>

    
  <div class="golden-signature">
    Built by <span>Pranav Sawarkar</span> | 
    <a href="https://instagram.com/pranav_4007" target="_blank">@pranav_4007</a>
</div>

</body>
</html>
